.header {
  margin: 0;
  border: 0;
  font: inherit;
  display: block;
  background-image: linear-gradient(90deg, #ce9ffc 10%, #7367f0 100%);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 0 2em;
  height: 5em;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.items {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 0;
  margin-top: 1.5em;
}
