.base {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-left: 0;
  background-color: rgb(240, 240, 240);
}

.wrapper {
  flex: 1;
  padding: 2em;
  text-align: center;
}

h3 {
  font-family: "Lobster", cursive;
  font-size: 2em;
}

p {
  margin-top: 1em;
  color: rgb(153, 153, 153);
}
